@import '../../styles/pallete.scss';

.game-mode {
  &__start{
    margin-top: 10px !important;
    color: $slate_200 !important;
    font-size: 52px !important;
    font-weight: bold !important;
    border: 4px solid $slate_200 !important;
    border-radius: 5px !important;
    background-color: $green_700 !important;
  }

  &__stop {
    margin-top: 10px !important;
    color: $slate_200 !important;
    font-size: 52px !important;
    font-weight: bold !important;
    border: 4px solid $slate_200 !important;
    border-radius: 5px !important;
    background-color: $red_500 !important;
  }
}